/* slider css */
.slick-slider .slick-list div{display:inline-block;width:100%;text-align:left;}
.slick-slider .slick-arrow{display:none!important;}
.slick-dots{padding:0;text-align:center;position:absolute;bottom:24px;left:50%;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);}
.slick-slider{position:relative;}
.slick-dots li button{font-size:0;line-height:0;display:block;padding:5px;color:transparent;border:0;outline:none;background:black;width:100%;height:100%;cursor:pointer;border-radius:50%;}
.slick-dots li{display:inline-block;position:relative;display:inline-block;margin:0 5px;padding:0;width:10px;height:10px;cursor:pointer;}
.slick-dots li.slick-active button{background:red;}
.slick-list{overflow:hidden;margin-bottom:30px;}
.site-Banner{width:100%;position:relative;}
.site-Banner .Banner-details{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);width:1110px!important;max-width:90%;z-index:1;}
.site-Banner .Banner-details h1{color:#fff;font-size:60px;text-shadow:6px 6px 7px #000;}
.slick-slider .slick-list div img{width:100%;}
.slick-slider .slick-list div img{width:100%;margin:0;}
.slick-slider .slick-list .site-Banner:before{content:"";background:#0000004a;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;z-index:1;height:calc(100% - 2px);}
.site-Banner .Banner-details .sub-title{color:#fff;text-shadow:2px 2px 3px #000;font-size:28px;}
.site-Banner .Banner-details a{background:#ef3d56;color:#fff;text-decoration:none;padding:12px 25px;border-radius:3px;display:inline-block;letter-spacing:1px;}
.site-Banner .Banner-details >div{max-width:70%;}
.store-page .product-main{margin-top:30px;}
.details-page .product-details{margin-top:30px;}
.with-underline{position:relative;text-align:left;display:inline-block;margin-bottom:40px;padding-bottom:8px;}
.with-underline:after{content:"";position:absolute;height:2px;width:100%;left:0;right:0;background:#ef3d56;top:100%;}